@font-face {
    font-family: Raleway-Bold;
    src: url(Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Raleway-Thin;
    src: url("Raleway-Thin.ttf");
}
