h1 {
    color: #f2f3f5;
    font-family: Raleway-Regular, serif;
    letter-spacing: 0.05em;
    font-size: 2.3em;
    margin: 0;
}

h3 {
    color: #b2b7be;
    font-family: Raleway-Thin, serif;
    margin-bottom: 30px;
    text-align: center;
}

#name-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#name-input-container label {
    color: #b5bac1;
    padding-bottom: 10px;
    font-size: 0.9em;
    font-family: Raleway-Bold, serif;
}

#name-input-container label span{
    font-size: 1.3em;
    color: #fa777b;
}

.text-element-div {
    /*padding: 30px 55px;*/
    /*margin: 20px 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px 55px;
    margin: auto 50px;
    height: 50vh;
    width: 40vw;
    background: #1a1a1e;
    align-items: center;
    justify-content: center;
}

#name-input {
    background: #2c2c32;
    /*background: #1e1f22;*/
    border-radius: 4px;
    padding: 10px;
    outline: none;
    border: none;
    color: #d5d7db;
    font-size: 1.4em;
    font-family: Raleway-Regular, serif;
}

#submit-btn {
    margin-top: 40px;
    border-radius: 4px;
    border: none;
    padding: 15px;
    background: #0a2d40;
    color: white;
    font-family: Raleway-SemiBold, serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    width: 100%;
}

#submit-btn:hover {
    background: #09293b;
}