:root {
    --background-color: #ffffff;
    --on-background-color: #4e5058;
    --background-container: #ebedef;
    --on-background-container: #8a8e97;
    --text-color: #6d6f78;
    --primary-color: #ebedef;
    --on-primary-color: #6d6f78;
    --primary-container: #ebedef;
    --secondary-color: #f2f3f5;
    --on-secondary-color: #5c5e66;
    --scrollbar: #c4c9ce;
    --button-active: #d7d8dd;
    --secondary-text-color: #060607;
    --header-color: #313338;
    --big-hashtag-background-color: #6d6f78;
}

/* Dark mode custom properties */
.dark-mode {
    --background-color: #313338;
    --on-background-color: #b5bac1;
    --background-container: #383a40;
    --on-background-container: #6c6e77;
    --text-color: #dbdee1;
    --primary-color: #2b2d31;
    --on-primary-color: #949ba4;
    --primary-container: #232428;
    --secondary-color: #2b2d31;
    --on-secondary-color: #949ba4;
    --scrollbar: #1a1b1e;
    --button-active: #3f4248;
    --secondary-text-color: white;
    --header-color: #dbdee1;
    --big-hashtag-background-color: #41434a;
}

body{
    margin: 0;
    background-image: url('app-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 500px;
}

.background-filter {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f2f3f5;
    font-family: Raleway-Regular, serif;
    letter-spacing: 0.05em;
    font-size: 2.3em;
    margin: 0;
}

h3 {
    color: #b2b7be;
    font-family: Raleway-Thin, serif;
    margin-bottom: 30px;
    text-align: center;
}

#name-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#name-input-container label {
    color: #b5bac1;
    padding-bottom: 10px;
    font-size: 0.9em;
    font-family: Raleway-Bold, serif;
}

#name-input-container label span{
    font-size: 1.3em;
    color: #fa777b;
}

.text-element-div {
    /*padding: 30px 55px;*/
    /*margin: 20px 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px 55px;
    margin: auto 50px;
    height: 50vh;
    width: 40vw;
    background: #1a1a1e;
    align-items: center;
    justify-content: center;
}

#name-input {
    background: #2c2c32;
    /*background: #1e1f22;*/
    border-radius: 4px;
    padding: 10px;
    outline: none;
    border: none;
    color: #d5d7db;
    font-size: 1.4em;
    font-family: Raleway-Regular, serif;
}

#submit-btn {
    margin-top: 40px;
    border-radius: 4px;
    border: none;
    padding: 15px;
    background: #0a2d40;
    color: white;
    font-family: Raleway-SemiBold, serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    width: 100%;
}

#submit-btn:hover {
    background: #09293b;
}