<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'#' + ${channel.name}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/channel.css"/>
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css"/>
</head>
<body>
<input type="hidden" id="channelId" th:value="${channel.id}"/>

<header>
    <div class="header-indent">
        <div class="toggle-container">
            <label class="switch">
                <input type="checkbox" id="modeToggle">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="channels-header">
        <span class="indent"></span>
        <span class="hashtag">
        <i class="fa-solid fa-hashtag hashtag"></i>
        </span>
        <span class="channel-name" th:text="${channel.name}"></span>
    </div>
</header>
<div class="main-elements-div">
    <div class="channels">
        <div>
            <button class="dropdown-button">
                <i class="fa-solid fa-angle-down" id="dropdown-icon"></i>
                <span class="text dropdown-button">TEXT CHANNELS</span>
            </button>
            <ul class="dropdown-menu">
                <li class="channel-container" th:each="channel : ${channels}">
                    <a class="channel-names" th:href="@{/channels/{channelId}(channelId=${channel.id})}">
                        <div class="channel-text">
                            <i class="fa-solid fa-hashtag"></i>
                            <span th:text="${channel.name}"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="user-name-and-icon"></div>
    </div>
    <div class="messages-textarea-div">
        <div class="channel-welcome-and-messages">
            <div id="messages-container"></div>
            <div id="welcome-subtitle">This is the start of the #<span th:text="${channel.name}"></span> channel.</div>
            <div id="welcome">Welcome to #<span th:text="${channel.name}"></span>!</div>
            <i id="big-hashtag" class="fa-solid fa-hashtag"></i>
        </div>
        <label for="textarea"></label>
        <div class="textarea-div">
            <textarea id="textarea" th:placeholder="${'Message #' + channel.name}" rows=1></textarea>
        </div>
    </div>
    <div id="channel-users">

    </div>
</div>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/channel.js"></script>
<script src="https://kit.fontawesome.com/7bd24e60f1.js" crossorigin="anonymous"></script>

</body>
</html>