<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css"/>
</head>
<body>
<div class="background-filter">
    <form th:action="@{/welcome}" method="post">
        <div class="input-container">
            <div class="text-element-div">
                <h1>Welcome!</h1>
                <h3>It's a pleasure to have you!</h3>
            </div>
            <div id="name-input-container">
                <label for="name-input">NAME <span>*</span></label>
                <input id="name-input" required type="text"/>
            </div>
            <input id="submit-btn" type="submit" value="Join"/>
        </div>
    </form>
    <script type="text/javascript" src="/js/welcome.js"></script>
</div>
</body>
</html>